#i02{
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#i01{
    color: brown;
    font-size: 300%;
    background-color: hotpink;
}
#img01{
    float: right;
    border: 5px solid gold ;
}
#i03{
    font-size: 200%;
    background-color: grey;
}
#b01{
    font-size: 100%;
    /* background-color: indigo; */
}
#i05{
    font-size: 150%;
    background-color: rgb(113, 243, 232);
    color: rgb(7, 7, 7);
}