 th, td{
    /* border: 2px solid black; */
    fill: tomato;
    height: 1cm;
    width: 1cm;
    text-align: center;
}
table{
    fill: tomato;
    border: 5px solid black;
    background-color: grey;
}
.num, .op, #bPoint,#bAC{
    height: 1cm;
    width: 1.2cm;
    border: 2px solid black;
    background-color: wheat;
    font-size: 0.5cm;
}
#b0{
    height: 1.1cm;
    width: 2.5cm;
    border: 2px solid black;
    background-color: wheat;
    font-size: 0.8cm;
}
#inputBar{
    height: 1cm;
    width: 5cm;
    border: 2px solid navy;
    background-color: honeydew;
    font-size: 0.56cm;

}

#bEqual{
    height: 1.1cm;
    width: 1.3cm;
    border: 2px solid navy;
    background-color: wheat;
    font-size: 0.8cm;
}
body{
    background-color: sandybrown;
}
