 th, td{
    /* border: 2px solid black; */
    fill: tomato;
    height: 1cm;
    width: 1cm;
    text-align: center;
}
table{
    fill: tomato;
    border: 5px solid black;
    background-color: grey;
}
.num, .op, #bPoint,#bAC{
    height: 1cm;
    width: 1cm;
    border: 2px solid black;
}
#b0{
    height: 1cm;
    width: 2.1cm;
    border: 2px solid black;
}
#inputBar{
    height: 1cm;
    width: 4cm;
    border: 2px solid navy;
    background-color: honeydew;
    /* margin-top: 0.5cm; */
}

#bEqual{
    height: 1cm;
    width: 1cm;
    border: 2px solid navy;
}
body{
    background-color: sandybrown;
}
