#i02 {
    background-color: skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#i01 {
    color: black;
    font-size: 300%;
    background-color: tomato;
}

#img01 {
    float: right;
    border: 5px solid red;
    height: 10cm;
}

#i03 {
    font-size: 200%;
    background-color: orange;
    /* height: 10cm; */
}

#b01 {
    font-size: 100%;
}

#i05 {
    font-size: 150%;
    background-color: rgb(113, 243, 232);
    color: rgb(7, 7, 7);
}

.panel {
    float: left;
    width: 2cm;
    height: 6cm;
    flex: 1;
    transition: flex 1.5s;
}

#img2011 {
    flex: 4;
}

.panel:hover {
    flex: 4;
}

#sam {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    height: 6cm;
    background: rgb(235, 97, 97);
    padding: 0.1cm;
}

.sj {
    background-color: rgb(255, 204, 93);
    color: blueviolet;
    border: black;
    border-style: dotted;
}